n8n-workflows/new-holder-welcome.json
{
  "name": "YST New Holder Welcome",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Schedule Trigger (30min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "url": "https://api.helius.xyz/v0/token-accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$credentials.heliusApi}}"
            },
            {
              "name": "tokenMint",
              "value": "jYwmSavfx69a35JEkpyrxu9JUjvswEvfnhLCDV9vREV"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Helius Token Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "notes": "Fetches latest YST token holders from Helius. Requires heliusApi credential."
    },
    {
      "parameters": {
        "jsCode": "// Compare current holder list with stored list to find NEW holders\n// Static data persists between executions in n8n\n\nconst responseData = $input.first().json;\n\n// Helius returns token accounts array\nlet tokenAccounts = [];\nif (Array.isArray(responseData)) {\n  tokenAccounts = responseData;\n} else if (responseData.result) {\n  tokenAccounts = responseData.result;\n} else if (responseData.tokenAccounts) {\n  tokenAccounts = responseData.tokenAccounts;\n}\n\n// Build current holder map: { walletAddress -> balance }\nconst currentHolders = {};\nfor (const acct of tokenAccounts) {\n  const owner = acct.owner || acct.ownerAddress || acct.wallet || '';\n  const rawAmount = parseFloat(acct.amount || acct.tokenAmount?.amount || 0);\n  const decimals = acct.decimals || acct.tokenAmount?.decimals || 6;\n  const balance = rawAmount / Math.pow(10, decimals);\n  if (owner && balance > 0) {\n    currentHolders[owner] = balance;\n  }\n}\n\n// Retrieve previously stored holder list from Static Data\nlet staticData = $getWorkflowStaticData('global');\nif (!staticData.knownHolders) {\n  staticData.knownHolders = {};\n}\n\nconst knownHolders = staticData.knownHolders;\nconst newHolders = [];\n\n// Find wallets in currentHolders not in knownHolders\nfor (const [wallet, balance] of Object.entries(currentHolders)) {\n  if (!knownHolders[wallet]) {\n    newHolders.push({\n      wallet,\n      balance,\n      shortAddr: wallet.slice(0, 4) + '...' + wallet.slice(-4)\n    });\n  }\n}\n\n// Update stored holder list\nObject.assign(staticData.knownHolders, currentHolders);\n\nconst totalHolders = Object.keys(currentHolders).length;\nconst checkTimestamp = new Date().toISOString();\n\nif (newHolders.length === 0) {\n  return [{ json: { newHolders: [], totalHolders, checkTimestamp, hasNewHolders: false } }];\n}\n\n// Return one item per new holder\nreturn newHolders.map(h => ({\n  json: {\n    ...h,\n    totalHolders,\n    checkTimestamp,\n    hasNewHolders: true,\n    allNewHolders: newHolders\n  }\n}));"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Detect New Holders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "new-holder-check",
              "leftValue": "={{ $json.hasNewHolders }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "New Holders Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "jsCode": "// Format welcome message for each new holder\nconst d = $input.first().json;\nconst balanceFormatted = new Intl.NumberFormat('en-US').format(Math.round(d.balance));\nconst solscanUrl = `https://solscan.io/account/${d.wallet}`;\n\nreturn [{\n  json: {\n    ...d,\n    telegramMessage: `👋 NEW YAKK HOLDER!\\n\\n🏠 Wallet: \\`${d.shortAddr}\\`\\n💰 Balance: ${balanceFormatted} $YST\\n🎉 Welcome to the den!\\n\\n👥 Total Holders: ${d.totalHolders}\\n🔍 [View Wallet](${solscanUrl})\\n\\n$YST #YakkStudios #Solana`\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Format Welcome Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 280]
    },
    {
      "parameters": {
        "chatId": "@yakkstudios",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Telegram Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 280],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-placeholder",
          "name": "Telegram YakkStudios Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (30min)": {
      "main": [
        [
          {
            "node": "Helius Token Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Helius Token Accounts": {
      "main": [
        [
          {
            "node": "Detect New Holders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect New Holders": {
      "main": [
        [
          {
            "node": "New Holders Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Holders Found?": {
      "main": [
        [
          {
            "node": "Format Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Welcome Message": {
      "main": [
        [
          {
            "node": "Telegram Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-28T19:15:00.000Z",
      "updatedAt": "2026-03-28T19:15:00.000Z",
      "id": "yst-tag-1",
      "name": "YakkStudios"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-28T19:15:00.000Z",
  "versionId": "new-holder-welcome-v1"
}
