n8n-workflows/whale-alert-monitor.json
{
  "name": "YST Whale Alert Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "helius-yst-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Helius Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "helius-yst-webhook",
      "notes": "Point your Helius webhook URL to this endpoint. Configure Helius to monitor token transfers for mint: jYwmSavfx69a35JEkpyrxu9JUjvswEvfnhLCDV9vREV"
    },
    {
      "parameters": {
        "jsCode": "// Parse Helius transaction webhook payload\n// Helius sends array of enhanced transactions\nconst body = $input.first().json.body || $input.first().json;\nconst transactions = Array.isArray(body) ? body : [body];\n\nconst results = [];\n\nfor (const tx of transactions) {\n  // Helius enhanced transaction structure\n  const txHash = tx.signature || tx.txHash || '';\n  const tokenTransfers = tx.tokenTransfers || [];\n  const nativeTransfers = tx.nativeTransfers || [];\n  \n  // Find YST token transfers\n  const ystTransfers = tokenTransfers.filter(t => \n    t.mint === 'jYwmSavfx69a35JEkpyrxu9JUjvswEvfnhLCDV9vREV'\n  );\n  \n  for (const transfer of ystTransfers) {\n    const rawAmount = parseFloat(transfer.tokenAmount || transfer.amount || 0);\n    // YST decimals — adjust if different\n    const decimals = transfer.decimals || 6;\n    const amount = rawAmount / Math.pow(10, decimals);\n    \n    const sender = transfer.fromUserAccount || transfer.from || 'Unknown';\n    const receiver = transfer.toUserAccount || transfer.to || 'Unknown';\n    \n    // Only pass through whale-level transfers (>= 1,000,000 YST)\n    if (amount >= 1000000) {\n      results.push({\n        json: {\n          txHash,\n          sender,\n          receiver,\n          amount,\n          rawAmount,\n          decimals,\n          senderShort: sender.length > 8 ? sender.slice(0, 4) + '...' + sender.slice(-4) : sender,\n          receiverShort: receiver.length > 8 ? receiver.slice(0, 4) + '...' + receiver.slice(-4) : receiver,\n          isMegaWhale: amount >= 10000000,\n          timestamp: tx.timestamp ? new Date(tx.timestamp * 1000).toISOString() : new Date().toISOString(),\n          solscanUrl: `https://solscan.io/tx/${txHash}`\n        }\n      });\n    }\n  }\n}\n\n// If no qualifying transfers, return empty item to stop flow\nif (results.length === 0) {\n  return [{ json: { skip: true, reason: 'No whale-level YST transfers found' } }];\n}\n\nreturn results;"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Parse Helius Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whale-filter-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Skip if no whale",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mega-whale-check",
              "leftValue": "={{ $json.isMegaWhale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Mega Whale or Whale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 280]
    },
    {
      "parameters": {
        "jsCode": "// Format mega whale alert message (>= 10M YST)\nconst d = $input.first().json;\nconst amountFormatted = new Intl.NumberFormat('en-US').format(Math.round(d.amount));\n\nreturn [{\n  json: {\n    ...d,\n    telegramMessage: `🚨🐋 MEGA WHALE ALERT 🐋🚨\\n\\n💰 ${amountFormatted} $YST transferred\\n📤 From: \\`${d.senderShort}\\`\\n📥 To: \\`${d.receiverShort}\\`\\n⏱ Time: ${d.timestamp}\\n🔗 [View on Solscan](${d.solscanUrl})\\n\\n#YST #YakkStudios #Solana`\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Format Mega Whale Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "jsCode": "// Format standard whale alert message (>= 1M YST)\nconst d = $input.first().json;\nconst amountFormatted = new Intl.NumberFormat('en-US').format(Math.round(d.amount));\n\nreturn [{\n  json: {\n    ...d,\n    telegramMessage: `🐋 WHALE ALERT\\n\\n💰 ${amountFormatted} $YST transferred\\n📤 From: \\`${d.senderShort}\\`\\n📥 To: \\`${d.receiverShort}\\`\\n⏱ Time: ${d.timestamp}\\n🔗 [View on Solscan](${d.solscanUrl})\\n\\n#YST #YakkStudios #Solana`\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Format Whale Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 380]
    },
    {
      "parameters": {
        "chatId": "@yakkstudios",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Telegram Mega Whale Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 180],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-placeholder",
          "name": "Telegram YakkStudios Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@yakkstudios",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Telegram Whale Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 380],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred-placeholder",
          "name": "Telegram YakkStudios Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yakkstudios.xyz/api/whale-feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "txHash",
              "value": "={{ $json.txHash }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.amount }}"
            },
            {
              "name": "sender",
              "value": "={{ $json.sender }}"
            },
            {
              "name": "receiver",
              "value": "={{ $json.receiver }}"
            },
            {
              "name": "isMegaWhale",
              "value": "={{ $json.isMegaWhale }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "continueOnFail": true
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "POST to DApp Live Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 280],
      "notes": "Optional: Update yakkstudios.xyz live feed. Change URL to your actual DApp endpoint."
    }
  ],
  "connections": {
    "Helius Webhook (POST)": {
      "main": [
        [
          {
            "node": "Parse Helius Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Helius Payload": {
      "main": [
        [
          {
            "node": "Skip if no whale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if no whale": {
      "main": [
        [],
        [
          {
            "node": "Mega Whale or Whale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mega Whale or Whale?": {
      "main": [
        [
          {
            "node": "Format Mega Whale Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Whale Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Mega Whale Message": {
      "main": [
        [
          {
            "node": "Telegram Mega Whale Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Whale Message": {
      "main": [
        [
          {
            "node": "Telegram Whale Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Mega Whale Alert": {
      "main": [
        [
          {
            "node": "POST to DApp Live Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Whale Alert": {
      "main": [
        [
          {
            "node": "POST to DApp Live Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-28T19:15:00.000Z",
      "updatedAt": "2026-03-28T19:15:00.000Z",
      "id": "yst-tag-1",
      "name": "YakkStudios"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-28T19:15:00.000Z",
  "versionId": "whale-alert-monitor-v1"
}
